#multi_ranking h3 {	
	padding-left:50px;
	margin:0;
	#FF00
	padding:10px 0 0 30px;
	font-family: "Times New Roman",Times,serif;
	position:static;
	color:aliceblue;
	RED
	yellow
	88.
	/*color:red;
	Brown
	color:#ff00;	*/
}